<h3>Create User</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" id="fullname" required [(ngModel)]="user.fullname" name="fullname">
        </div>

        <div class="form-group">
            <label for="name">Document Type</label>
            <input type="text" class="form-control" id="documenttype" required [(ngModel)]="user.documenttype" name="documenttype">
        </div>

        <div class="form-group">
            <label for="name">Document Number</label>
            <input type="text" class="form-control" id="documentnumber" required [(ngModel)]="user.documentnumber" name="documentnumber">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
</div>
