<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Users</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Full Name</th>
                    <th>Docuent Type</th>
                    <th>Docuent Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | async">
                    <td>{{user.id}}</td>
                    <td>{{user.fullname}}</td>
                    <td>{{user.documenttype}}</td>
                    <td>{{user.documentnumber}}</td>
                    <td>
                      <a [routerLink]="['/users/', user.id]" class="active" role="button" routerLinkActive="active">
                        <button class="btn btn-info">Details</button>
                      </a>
                      <button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
